// my color theme
$primary: #0A2342;
$secondary: #007090;
$tertiary:#6D6F74;

$text-primary:#0A2342;
$text-secondary:#007090;
$text-tertiary:#7B7B7B;

$white:#ffffff;
$lightgrey:#DAE3E5;
$grey: #aaaaaa;
$black:#111111;
$red: #d14933;
$blue: #0A2342;






